    <!-- Download Section -->
    <section id="study" class="content-section text-center">
        <div class="study-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Study Detail</h2>
                    <p>You will receive $50 for completing the study. The study consists three phases:
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <p>Initial Interview | 30 mins</p>
                        <p>Participate in an initial interview at the University of Michigan. This interview allows us to learn about how you usually control the temperature environment at home, and your thinking about sustainability.</p>
                    </div>
                    <div class="col-md-4">
                        <p>Temperature Diary | 3 days</p> 
                        <p>Then, we will install an app called "Paco" on your phone and give you two thermometers. Paco will ask you your comfort level and the temperature at the time 3 times a day. The main purpose for this step is to help you understand the temperature you prefer to live in.</p>
                    </div>
                    <div class="col-md-4">
                        <p>User Enactment | 90 mins</p>
                        <p>Finally, we will invite you to our smart home testbed in Ann Arbor. We will present some smart thermostat designs to you and obtain your feedback. To help you react to the thermostat naturally, we will ask you to act through five hypothetical scenarios. We will only ask you to act out common activities you do at home, none of them are inappropriate.</p>
                   </div>
                   <a href="http://goo.gl/forms/3m8IOJh1yx" class="btn btn-default btn-lg">Visit Sign Up Page</a>
                </div>
            </div>

        </div>
    </section>