    <!-- Download Section -->
    <section id="study" class="content-section text-center">
        <div class="study-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Study Detail</h2>
                    <p>The study consists three phases:
                    <br/>
                    <br/>1. Initial Interview:
                    <br/>
                    Participate in a 30-minute initial interview at the University of Michigan. This interview allows us to learn about how you usually control the temperature environment at home, and your attitudes toward sustainability.
                    <br/>
                    <br/>2. 3-5 Days Diary Study
                    <br/>During this period, we will give you a pocket-size (paper) notebook and two thermometers. You will need to note down the time when you feel cold, warm and comfortable at home, as well as the temperature at the time. You only need to do this around three times per day. The main purpose for this study is to help you be aware about the temperature you prefer to live in. 
                    <br/>
                    <br/>3. User Enactment Study
                    <br/>Participate in a 90-minute user enactment session in our smart home testbed in Ann Arbor. We will present some of our smart thermostat designs to you and obtain your feedback on these different designs. To better help you react to the thermostat naturally as you were in your own home, we will ask you to act through a set of hypothetical scenarios. We will only ask you to act out some common activities you do at home, none of them are dangerous or inappropriate.</p> 
                    <a href="http://goo.gl/forms/3m8IOJh1yx" class="btn btn-default btn-lg">Visit Sign Up Page</a>
                </div>
            </div>
        </div>
    </section>